<div class="position-relative flex-column m-4">
  <h2 class="">Übersicht</h2>
  <button class="align-self-end bg-transparent"><a routerLink="/employees">Mitarbeiter</a></button>
  <div class="d-flex flex-row w-100 pt-3 pb-3">
    <div class="flex-fill"></div>
    <button (click)="openAddQualificationModal()" class="d-flex align-items-center justify-content-center bg-transparent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="d-flex flex-column border-dotted text-light bg-secondary p-2 w-100 m-auto">
    <app-qualification-entry
      *ngFor="let qualification of qualifications;"
      [qualification]="qualification"
      (delete)="deleteQualification($event)"
    />
  </div>
  <app-background-blur
    [active]="addQualificationModalActive"
    [layer]="0"
    (close)="closeAddQualificationModal()"
  />
  <app-add-qualification-modal
    class="position-fixed top-50 start-50 translate-middle"
    [open]="addQualificationModalActive"
    [suggestion]="qualificationToAdd"
    (added)="addQualification($event)"
    (canceled)="closeAddQualificationModal()"
  />
</div>
