<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <mat-icon class="back-arrow" (click)="navigateBack()">arrow_back</mat-icon>
      <h2 class="ms-2 mb-0">{{ selectedEmployee.firstName }} {{ selectedEmployee.lastName }}</h2>
    </div>
    <div class="card-body">
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>ID:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.id" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.id }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Vorname:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.firstName" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.firstName }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Nachname:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.lastName" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.lastName }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Straße:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.street" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.street }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Postleitzahl:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.postcode" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.postcode }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Stadt:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.city" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.city }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Tel:</strong></p>
        </div>
        <div class="col-8">
          <input *ngIf="editing" [(ngModel)]="selectedEmployee.phone" class="form-control"/>
          <p *ngIf="!editing" class="card-text">{{ selectedEmployee.phone }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <p class="card-text"><strong>Fähigkeiten:</strong></p>
        </div>
        <div class="col-8">
          <p class="card-text">{{ getQualificationsetNames(qualifications) }}</p>
        </div>
      </div>
      <div class="row line">
        <div class="col-4">
          <button class="btn btn-secondary btn-sm" (click)="navigateToEmployeeQualifications()">Fähigkeiten verwalten</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2 text-end">
    <button class="btn" (click)="toggleEdit()">
      <mat-icon>{{ editing ? 'save' : 'edit' }}</mat-icon>
    </button>
  </div>
</div>
