.back-arrow:hover {
  cursor: pointer;
}

.delete-icon:hover {
  cursor: pointer;
}

.line {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.col-8 > p {
  padding: calc(0.375rem + 1px) calc(0.75rem + 1px);
}
