<div class="d-flex flex-column">
  <div class="d-flex flex-row w-75 m-auto pt-4 pb-4">
    <h2>Übersicht</h2>
    <button>Fahigkeiten</button>
  </div>
  <div class="d-flex flex-row align-items-center w-75 m-auto pt-3 pb-3">
    <button class="d-flex flex-row align-items-center justify-content-center">Filter <mat-icon>keyboard_arrow_down</mat-icon> </button>
    <button><mat-icon>person_add</mat-icon></button>
  </div>
  <div class="d-flex flex-column border-dotted text-light bg-secondary p-2 w-75 m-auto">
    <app-employee-entry
      *ngFor="let employee of employees$ | async"
      [employee]="employee"
    />
  </div>
</div>
