<div class="d-flex flex-column">
  <div class="bg-primary d-flex flex-row align-items-center justify-content-center gap-5">
    <img class="p-3" alt="company-icon" width="150" height="110" src="../../../assets/logo-transparent.png" />
    <h1 class="flex-fill text-light text-decoration-underline">HiTec GmbH</h1>
  </div>
  <div class="position-relative">
    <img class="teaser-img" alt="startup-buero" width="100%" src="../../../assets/startup-buero.png" />
    <div class="blur position-absolute top-0 left-0 w-100 h-100"></div>
    <h2 class="position-absolute top-50 start-50 translate-middle text-light text-center">Innovationen und Neuheiten, mit der HiTec GmbH</h2>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-center align-items-center p-5">
      <h2>Die HiTec GmbH</h2>
    </div>
    <div>

    </div>
  </div>
</div>



