.entry {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: #bf2133;
  text-decoration: underline;
  background: transparent;
  border: none;
}

a:hover {
  color: #ec4457;
  cursor: pointer;
}
