<app-background-blur [active]="isBlurry" [layer]="1" (close)="closeMenu()" />
<div class="small-menu px-5">
  <button (click)="openMenu()" class="bg-transparent border-0 p-0 m-0">
    <mat-icon class="small-menu-icon text-light">menu</mat-icon>
  </button>
</div>
<div class="big-menu position-fixed top-0 w-75 h-100 bg-light">
  <div
    class="d-flex flex-column gap-4 justify-content-start align-items-start m-4"
  >
    <button (click)="closeMenu()" class="bg-transparent border-0 m-0 p-0">
      <mat-icon class="big-menu-icon">close</mat-icon>
    </button>
    <ul
      class="navigation-list d-flex flex-column gap-3 fs-5 justify-content-start align-items-start text-start list-unstyled m-0 p-0"
    >
      <li route="/" (click)="navigateTo('/')">Homepage</li>
      <li route="/employees" (click)="navigateTo('/employees')">Mitarbeiter</li>
      <li route="/qualifications" (click)="navigateTo('/qualifications')">
        Qualifikationen
      </li>
      <li route="/settings" (click)="navigateTo('/settings')">Einstellungen</li>
      <li *ngIf="isLoggedIn(); else showLogin" (click)="logout()">Ausloggen</li>
      <ng-template #showLogin>
        <li (click)="login()" #showLogin>Einloggen</li>
      </ng-template>
    </ul>
  </div>
</div>
