.small-menu-icon {
  transform: scale(2);
}

.big-menu {
  right: -75%;
  transition: right 0.5s ease;
  max-width: 400px;
  z-index: 2;
}

.big-menu-icon {
  transform: scale(1.5);
}

.open {
  right: 0;
}

.navigation-list > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.route {
  color: #5c65a5;
  text-decoration: underline;
}
