<div *ngIf="!mobile; else mobileVersion" class="d-flex w-75 m-auto gap-5" [ngClass]="reverse ? 'flex-row' : 'flex-row-reverse'">
  <div class="d-flex flex-column w-50" [ngClass]="reverse ? 'align-items-start' : ''">
    <h2 class="">{{headline}}</h2>
    <p class="">{{text}}</p>
    <a *ngIf="routeLink" routerLink="{{routeLink}}">{{routeLabel}}</a>
  </div>
  <div class="d-flex flex-column w-50 justify-content-start" [ngClass]="reverse ? 'align-items-end' : 'align-items-start'">
    <img class="w-100" src="{{image}}" />
  </div>
</div>

<ng-template #mobileVersion>
  <div class="d-flex flex-column-reverse align-items-center w-100 m-auto gap-4">
    <div class="d-flex flex-column w-75" [ngClass]="reverse ? 'align-items-start' : ''">
      <h2 class="">{{headline}}</h2>
      <p class="">{{text}}</p>
      <a *ngIf="routeLink" routerLink="{{routeLink}}">{{routeLabel}}</a>
    </div>
    <div class="d-flex flex-column w-75 justify-content-start" [ngClass]="reverse ? 'align-items-end' : 'align-items-start'">
      <img class="w-100" src="{{image}}" />
    </div>
  </div>
</ng-template>
